html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition:
        color 0.5s,
        background-color 0.5s;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "./Mobile.scss";
@import "./PC.scss";