<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 引入样式文件 -->
        <link rel="stylesheet" href="./css/vant@4.css" />
        <link rel="stylesheet" href="./css/elementplus.css" />
        <link rel="stylesheet" type="text/css" href="./css/index.css" />
        <title>test</title>
    </head>
    <body>
        <div id="app">
            <!-- TOP -->
            <div
                v-if="!isMobile()"
                style="
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: wrap;
                "
            >
                <div style="width: 220px; margin: 10px">当前时间： {{Intervals.time}}</div>
                <el-button style="margin: 10px" type="danger" @click="submit('当日')"
                    >当日查询（查询时间： {{submitTime}}）</el-button
                >
                <div style="margin: 10px">
                    历史数据查询：
                    <el-date-picker
                        style="width: 133px"
                        v-model="Dates.HistoryDate"
                        type="date"
                        format="YYYY/MM/DD"
                        placeholder="选择日期"
                        :disabled-date="(time) => {
                            const minDate = new Date('2021-01-01');
                            const maxDate = new Date()
                            const week = time.getDay();// 周六是6，周日是0
                            return time.getTime() > maxDate.getTime()||time.getTime() < minDate.getTime()||week === 6 || week === 0|| !Dates.isHoliday(time)
                          }"
                    >
                    </el-date-picker>
                    <div
                        style="
                            display: inline-block;
                            cursor: pointer;
                            background-color: #ac2024;
                            color: #fff;
                            padding: 0 5px;
                        "
                        @click="submit('历史-1')"
                    >
                        <-
                    </div>
                    <el-button type="danger" style="margin: 0 10px" @click="submit('历史')">查询</el-button>
                    <div
                        style="
                            display: inline-block;
                            cursor: pointer;
                            background-color: #ac2024;
                            color: #fff;
                            padding: 0 5px;
                        "
                        @click="submit('历史+1')"
                    >
                        ->
                    </div>
                </div>
            </div>
            <!-- / -->
            <div
                v-if="isMobile()"
                style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 5px"
            >
                <div style="width: 100%">当前时间： {{Intervals.time}}</div>
                <el-button type="danger" size="small" @click="submit('当日')">{{submitTime}}</el-button>
                <div>
                    <el-date-picker
                        style="width: 133px"
                        size="small"
                        v-model="Dates.HistoryDate"
                        type="date"
                        format="YYYY/MM/DD"
                        placeholder="选择历史日期"
                        :editable="false"
                        :disabled-date="(time) => {
                        const minDate = new Date('2021-01-01');
                        const maxDate = new Date()
                        const week = time.getDay();// 周六是6，周日是0
                        return time.getTime() > maxDate.getTime()||time.getTime() < minDate.getTime()||week === 6 || week === 0|| !Dates.isHoliday(time)
                      }"
                    >
                    </el-date-picker>
                    <el-button type="danger" size="small" style="margin: 0 10px" @click="submit('历史')"
                        >查询</el-button
                    >
                </div>
            </div>
            <!-- 行业筛选条件 -->
            <div style="display: flex;flex-wrap: wrap;">
                <div>
                    <el-checkbox
                        v-model="Blocks.CheckedOptimum.LongTrend"
                        @change="Blocks.CheckedOptimumFN"
                        label="长期趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Blocks.CheckedOptimum._p10"
                        @change="Blocks.CheckedOptimumFN"
                        label="前10"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Blocks.CheckedOptimum.YangXian"
                        @change="Blocks.CheckedOptimumFN"
                        label="阳线趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Blocks.CheckedOptimum.TodayTrend"
                        @change="Blocks.CheckedOptimumFN"
                        label="今日趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Blocks.CheckedOptimum.YesterdayTrend"
                        @change="Blocks.CheckedOptimumFN"
                        label="昨日趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Blocks.CheckedOptimum._0935"
                        @change="Blocks.CheckedOptimumFN"
                        label="今日趋势强势"
                        size="large"
                    />
                </div>
            </div>
            <!-- 行业table -->
            <el-container v-if="!isMobile()" class="table_container" v-loading="Blocks.loading">
                <div class="table_hy" v-for="(BlocksItem,BlocksKey) in Blocks.Data" v-if="!Blocks.loading">
                    <table>
                        <thead>
                            <tr>
                                <th :colspan="Blocks.headerData.length">
                                    {{BlocksItem.name}} (总数：{{BlocksItem.base.length}})
                                    (筛选：{{BlocksItem.default.length}})
                                    <span @click="Blocks.setCache('clean')" v-if="Blocks.isCache" style="color: #ac2024"
                                        >缓存</span
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th
                                    v-for="(item,i) in Blocks.headerData"
                                    @click="Blocks.RateSort(item,i)"
                                    :style="item==Blocks.RateSort_selected? 'background-color: #000;color:#fff':''"
                                >
                                    {{item}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(item,key) in BlocksItem.default"
                                :style="item['9:35打分']>=7?'text-align: center':'text-align: center;opacity: 1'"
                                :class="Stocks.hoverBlocks.includes(item['指数简称'])?'hoverStyle':''"
                            >
                                <td style="width: 30px">{{item['序号']}}</td>
                                <td
                                    style="width: 120px; min-width: 60px"
                                    :class="(Blocks.checked.type==(BlocksKey>0?'概念':'行业')&&Blocks.checked.name==item['指数简称'])?'fs16 f600 table_cnText':'table_cnText'"
                                    @click="CheckedBlock(BlocksKey>0?'概念':'行业',item['指数简称'],item)"
                                >
                                    {{item['指数简称']}}
                                </td>
                                <td class="rateTd f600" v-for="hdItem in Blocks.headerData.slice(2,8)">
                                    <div class="tb3_box" v-if="item[hdItem]">
                                        <div v-html="precentformater(item[hdItem]['涨跌幅'])"></div>
                                        <div
                                            v-if="item[hdItem]['资金流向']"
                                            v-html="formatNumber(item[hdItem]['资金流向'])"
                                        ></div>
                                        <div
                                            v-if="item[hdItem]['大单净额']"
                                            v-html="formatNumber(item[hdItem]['大单净额'])"
                                        ></div>
                                        <div
                                            v-html="formatNumber(item[hdItem]['大单净量'])"
                                            v-if="item[hdItem]['大单净量']"
                                        ></div>
                                    </div>
                                </td>
                                <!-- <td style="width: 70px;" class="table_cnText">
                                    <div>{{item['上涨占比']}}</div>
                                </td> -->

                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M05'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v05'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M10'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v10'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M30'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v30'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M60'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v60'],'shizhi')}}
                                    </div>
                                </td>

                                <td
                                    style="min-width: 45px; text-align: center"
                                    :class="item['9:35打分']>0?'red fs16 f600' :'green fs16 f600' "
                                >
                                    {{item['9:35打分']}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-container>
            <!-- / -->
            <el-container
                v-if="isMobile()"
                class="table_container"
                style="margin-bottom: 10px; display: flex; flex-direction: column; min-height: 352px"
                v-loading="Blocks.loading"
            >
                <div
                    class="table_hy table_hy_Mobile"
                    v-for="(BlocksItem,BlocksKey) in Blocks.Data"
                    v-if="!Blocks.loading"
                >
                    <div
                        v-for="(item,key) in BlocksItem.default"
                        class="table_hy_Mobile_tr"
                        :style="item['9:35打分']>=7?'':'opacity: 1'"
                    >
                        <div
                            class="table_hy_Mobile_td"
                            @click="CheckedBlock(BlocksKey>0?'概念':'行业',item['指数简称'],item)"
                        >
                            {{item['指数简称']}}
                        </div>
                        <div
                            class="table_hy_Mobile_td"
                            v-for="hdItem in [...Blocks.headerData.slice(2,6),...Blocks.headerData.slice(7,8)]"
                        >
                            <div
                                style="width: 100%; font-size: 10px"
                                v-html="precentformater(item[hdItem]['涨跌幅'])"
                            ></div>
                            <div v-if="item[hdItem]['资金流向']" v-html="formatNumber(item[hdItem]['资金流向'])"></div>
                            <div v-if="item[hdItem]['大单净额']" v-html="formatNumber(item[hdItem]['大单净额'])"></div>
                            <div v-html="formatNumber(item[hdItem]['大单净量'])" v-if="item[hdItem]['大单净量']"></div>
                        </div>
                        <div class="table_hy_Mobile_td" :class="item['9:35打分']>0?'red fs16 f600' :'green fs16 f600' ">
                            <div style="font-size: 4px">
                                <div :class="item['M05达成']?'red' :'green' ">M05</div>
                                <div :class="item['M10达成']?'red' :'green' ">M10</div>
                                <div :class="item['M30达成']?'red' :'green' ">M30</div>
                                <div :class="item['M60达成']?'red' :'green' ">M60</div>
                            </div>
                            <div style="max-width: 20px">{{item['前40日']?'✓':''}}</div>
                            <div style="width: 25px; text-align: end">{{item['9:35打分']}}</div>
                        </div>
                    </div>
                </div>
            </el-container>
            <!-- 个股指数名称类型 -->
            <div
                style="
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                "
            >
                <div
                    style="min-width: 100px; display: flex; justify-content: center; color: #ac2024; margin-right: 10px"
                >
                    已选择：[ 类型：{{Blocks.checked.type}} , 名称：{{Blocks.checked.name}} ]
                </div>
                <button
                    
                    type="button"
                    style="display: flex; justify-content: center; color: #ac2024"
                    @click="CheckedBlock('100','100')"
                >
                    热门100个股查询
                </button>
                <!-- <button
                    type="button"
                    style="display: flex; justify-content: center; color: #ac2024"
                    @click="CheckedBlock('Max','Max')"
                >
                    首板突破个股查询
                </button> -->
            </div>
            <!-- 个股筛选条件 -->
            <div style="display: flex;flex-wrap: wrap;">
                <!-- <el-checkbox
                        v-model="Stocks.CheckedOptimum.分值"
                        @change="Stocks.CheckedOptimumFN"
                        label="分值7及以上"
                        size="large"
                       /> -->
                <div>
                    <el-checkbox
                        v-model="Stocks.CheckedOptimum.LongTrend"
                        @change="Stocks.CheckedOptimumFN"
                        label="长期趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Stocks.CheckedOptimum.YangXian"
                        @change="Stocks.CheckedOptimumFN"
                        label="阳线趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Stocks.CheckedOptimum.YesterdayTrend"
                        @change="Stocks.CheckedOptimumFN"
                        label="昨日趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Stocks.CheckedOptimum.TodayTrend"
                        @change="Stocks.CheckedOptimumFN"
                        label="今日趋势"
                        size="large"
                    />
                </div>
                <div>
                    <el-checkbox
                        v-model="Stocks.CheckedOptimum._0935"
                        @change="Stocks.CheckedOptimumFN"
                        label="今日趋势强势"
                        size="large"
                    />
                </div>
            </div>
            <!-- 个股table -->
            <el-container v-if="!isMobile()" class="table_container" v-loading="Stocks.loading">
                <div class="table_gu" v-for="StocksItem in Stocks.Data" v-if="!Stocks.loading">
                    <table>
                        <thead>
                            <tr>
                                <th :colspan="Stocks.headerData.length">
                                    {{StocksItem.name}} (总数：{{StocksItem.base.length}})
                                    (筛选：{{StocksItem.default.length}})
                                    ({{Number((StocksItem.base.length/3).toFixed(2))}})
                                    <span @click="Stocks.setCache('clean')" v-if="Stocks.isCache" style="color: #ac2024"
                                        >缓存</span
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th v-for="item in Stocks.headerData">{{item}}</th>
                            </tr>
                        </thead>
                        <tbody class="scrollable">
                            <tr
                                v-for="(item,key) in StocksItem.default"
                                style="text-align: center"
                                @mouseover="Stocks.handleMouseOver(item)"
                                @mouseleave="Stocks.handleMouseLeave(item)"
                            >
                                <td style="width: 30px">{{item['序号']}}</td>
                                <td style="min-width: 50px; width: 50px">{{item['code']}}</td>
                                <td
                                    style="min-width: 60px; width: 60px"
                                    class="table_cnText"
                                    @click="Stocks.openUrl('https://gushitong.baidu.com/stock/ab-'+item['code'])"
                                >
                                    {{item['股票简称']}}
                                </td>
                                <td
                                    style="min-width: 70px; width: 70px"
                                    class="text_end"
                                    :style="Number(item['流通市值']) >50000000000?'background-color:#ccc':''"
                                >
                                    {{formatNumber(item['流通市值'],'shizhi')}}
                                </td>
                                <td style="min-width: 50px; width: 50px" class="text_end">
                                    {{formatNumber(item['股价'],'gujia')}}
                                </td>
                                <td
                                    style="min-width: 60px; width: 150px; height: 26px; overflow: hidden"
                                    class="table_cnText"
                                >
                                    <div style="overflow: auto; height: 100%">{{item['行业']}}</div>
                                </td>
                                <td style="min-width: 75px; width: 70px" class="table_cnText red f600">
                                    <span
                                        :style="Stocks.Sort_selected[0]=='昨热度排名'?'border-bottom:2px solid #000':''"
                                        @click="Stocks.mySort('昨热度排名')"
                                        >{{item['昨热度排名']}}</span
                                    >
                                </td>
                                <td style="min-width: 75px; width: 70px" class="table_cnText red f600">
                                    <span
                                        :style="Stocks.Sort_selected[0]=='今热度排名'?'border-bottom:2px solid #000':''"
                                        @click="Stocks.mySort('今热度排名')"
                                        >{{item['今热度排名']}}</span
                                    >
                                </td>
                                <td
                                    style="min-width: 60px; width: 150px; height: 26px; overflow: hidden"
                                    class="table_cnText"
                                >
                                    <div style="overflow: auto; height: 100%">{{item['概念']}}</div>
                                </td>
                                <td class="rateTd f600" v-for="hdItem in Stocks.headerData.slice(9,15)">
                                    <div class="tb3_box" v-if="item[hdItem]">
                                        <div @click="Stocks.mySort(hdItem,'涨跌幅')">
                                            <b
                                                :class="item[hdItem]['涨跌幅趋势']=='j1'?'up-triangle':item[hdItem]['涨跌幅趋势']=='-j1'?'down-triangle':''"
                                            ></b>
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='涨跌幅'?'border-bottom:2px solid #000':''"
                                                v-html="precentformater(item[hdItem]['涨跌幅'])"
                                            ></span>
                                        </div>
                                        <div
                                            v-if="String(item[hdItem]['资金流向'])!='undefined'"
                                            @click="Stocks.mySort(hdItem,'资金流向')"
                                        >
                                            <!-- <b
                                                :class="item[hdItem]['资金流向趋势']=='j1'?'up-triangle':item[hdItem]['资金流向趋势']=='-j1'?'down-triangle':''"
                                            ></b> -->
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='资金流向'?'border-bottom:2px solid #000':''"
                                                v-html="formatNumber(item[hdItem]['资金流向'])"
                                            ></span>
                                        </div>
                                        <div
                                            v-if="String(item[hdItem]['大单净额'])!='undefined'"
                                            @click="Stocks.mySort(hdItem,'大单净额')"
                                        >
                                            <!-- <b
                                                :class="item[hdItem]['大单净额趋势']=='j1'?'up-triangle':item[hdItem]['大单净额趋势']=='-j1'?'down-triangle':''"
                                            ></b> -->
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='大单净额'?'border-bottom:2px solid #000':''"
                                                v-html="formatNumber(item[hdItem]['大单净额'])"
                                            ></span>
                                        </div>
                                        <div
                                            v-if="String(item[hdItem]['大单净量'])!='undefined'"
                                            @click="Stocks.mySort(hdItem,'大单净量')"
                                        >
                                            <b
                                                :class="item[hdItem]['大单净量趋势']=='j1'?'up-triangle':item[hdItem]['大单净量趋势']=='-j1'?'down-triangle':''"
                                            ></b>
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='大单净量'?'border-bottom:2px solid #000':''"
                                                v-html="formatNumber(item[hdItem]['大单净量'])"
                                            ></span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M05'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v05'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['M10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M10'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v10'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['M30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M30'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v30'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['M60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M60'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v60'],'shizhi')}}
                                    </div>
                                </td>
                                <td style="min-width: 80px" class="table_cnText" v-if="item['后2日']">
                                    <span style="margin-right: 5px" v-html="precentformater(item['后2日'][0])"> </span>

                                    <span style="margin-right: 5px" v-html="precentformater(item['后2日'][1])"> </span>
                                </td>
                                <td style="min-width: 45px" class="table_cnText">{{item['前40日']?'√':''}}</td>
                                <td
                                    style="min-width: 45px; text-align: center"
                                    :class="item['9:35打分']>0?'red fs16 f600' :'green fs16 f600' "
                                >
                                    {{item['9:35打分']}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-container>
            <el-container v-if="isMobile()" class="table_container" v-loading="Stocks.loading">
                <div class="table_gu" v-for="StocksItem in Stocks.Data" v-if="!Stocks.loading">
                    <div v-for="(item,key) in StocksItem.default" class="table_hy_Mobile_tr">
                        <div
                            class="table_hy_Mobile_td"
                            @click="Stocks.openUrl('https://pqa9p2.smartapps.baidu.com/pages/quote/quote?market=ab&jumpToNav=1&type=stock&from=aladdin&code='+item['code'])"
                        >
                            {{item['股票简称']}}
                        </div>
                        <div
                            class="table_hy_Mobile_td"
                            v-for="hdItem in [...Stocks.headerData.slice(9,13),...Stocks.headerData.slice(14,15)]"
                        >
                            <div
                                style="width: 100%; font-size: 10px"
                                v-html="precentformater(item[hdItem]['涨跌幅'])"
                            ></div>
                            <div v-if="item[hdItem]['资金流向']" v-html="formatNumber(item[hdItem]['资金流向'])"></div>
                            <div v-if="item[hdItem]['大单净额']" v-html="formatNumber(item[hdItem]['大单净额'])"></div>
                            <div v-html="formatNumber(item[hdItem]['大单净量'])" v-if="item[hdItem]['大单净量']"></div>
                        </div>
                        <div class="table_hy_Mobile_td" :class="item['9:35打分']>0?'red fs16 f600' :'green fs16 f600' ">
                            <div style="font-size: 4px">
                                <div :class="item['M05达成']?'red' :'green' ">M05</div>
                                <div :class="item['M10达成']?'red' :'green' ">M10</div>
                                <div :class="item['M30达成']?'red' :'green' ">M30</div>
                                <div :class="item['M60达成']?'red' :'green' ">M60</div>
                            </div>
                            <div style="max-width: 20px">{{item['前40日']?'✓':''}}</div>
                            <div style="width: 25px; text-align: end">{{item['9:35打分']}}</div>
                        </div>
                    </div>
                </div>
            </el-container>
        </div>

        <!-- 引入 Vue 和 Vant 的 JS 文件 -->
        <script src="./js/vue@3.4.14.js"></script>
        <script src="./js/axios@1.6.7.js"></script>
        <script src="./js/vant@4.js"></script>
        <!-- 引入element plus中文语言包 -->
        <script src="./js/elementplus@v2.7.7-zhCn.js"></script>
        <script src="./js/elementplus@v2.7.7.js"></script>
        <script src="./js/localForage.js"></script>
        <script src="./js/day.js"></script>
        <script src="./js/utils.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>
