<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 引入样式文件 -->
        <link rel="stylesheet" href="./css/vant@4.css" />
        <link rel="stylesheet" href="./css/elementplus.css" />
        <link rel="stylesheet" type="text/css" href="./css/index.css" />
        <title>test</title>
    </head>
    <body>
        <div id="app">
            <!-- TOP -->
            <el-container style="flex-wrap: wrap">
                <div style="width: 220px; margin: 10px">{{Intervals.time}}</div>
                <div style="margin: 10px; display: flex; align-items: center; gap: 8px">
                    <div @click="Submit(-1)" style="font-size: 20px; cursor: pointer">◀️</div>
                    <el-date-picker
                        style="width: 133px"
                        v-model="Dates.SelectedDate"
                        type="date"
                        format="YYYY/MM/DD"
                        placeholder="选择日期"
                        :disabled-date="Dates.disabledDate"
                    >
                    </el-date-picker>
                    <div @click="Submit(1)" style="font-size: 20px; cursor: pointer">▶️</div>
                    <el-button type="danger" style="margin: 0 10px" @click="Submit()">查询</el-button>
                    <el-button :type="Blocks.timer?'primary':'danger'" style="margin: 0 10px" @click="Blocks.run()"
                        >run</el-button
                    >
                </div>
            </el-container>

            <!-- 行业筛选条件 -->
            <div style="display: flex; flex-wrap: wrap">
                <el-checkbox
                    v-for="item in Blocks.checkboxList"
                    v-model="item.model"
                    @change="Blocks.CheckedOptimumFN"
                    :label="item.name"
                />
            </div>
            <!-- 行业table -->
            <el-container v-if="!isMobile()" class="table_container" v-loading="Blocks.loading">
                <div class="table_hy" v-for="(BlocksItem,BlocksKey) in Blocks.Data" v-if="!Blocks.loading">
                    <table>
                        <thead>
                            <tr>
                                <th :colspan="Blocks.headerData.length">
                                    {{BlocksItem.name}} (总数：{{BlocksItem.base.length}})
                                    (筛选：{{BlocksItem.default.length}})
                                    <span @click="Blocks.setCache('clean')" v-if="Blocks.isCache" style="color: #ac2024; cursor: pointer"
                                        >缓存</span
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th
                                    v-for="(item,i) in Blocks.headerData"
                                    @click="Blocks.RateSort(item,i)"
                                    :style="item==Blocks.RateSort_selected? 'background-color: #000;color:#fff':''"
                                >
                                    {{item}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(item,key) in BlocksItem.default"
                                style="text-align: center"
                                :class="Stocks.hoverBlocks.includes(item['指数简称'])?'hoverStyle':''"
                                :style="item['昨日涨停数']>0?{'border':'2px solid #ff0000'} : {}"
                            >
                                <td style="width: 30px">{{item['序号']}}</td>
                                <td
                                    style="width: 120px; min-width: 60px"
                                    :class="(Blocks.checked.type==(BlocksKey>0?'概念':'行业')&&Blocks.checked.name==item['指数简称'])?'fs16 f600 table_cnText':'table_cnText'"
                                    @click="CheckedBlock(BlocksKey>0?'概念':'行业',item['指数简称'],item)"
                                >
                                    {{item['指数简称']}}
                                </td>
                                <td class="rateTd f600" v-for="hdItem in Blocks.headerData.slice(2,8)">
                                    <div class="tb3_box" v-if="item[hdItem]">
                                        <div v-html="precentformater(item[hdItem]['涨跌幅'])"></div>
                                        <div
                                            v-if="item[hdItem]['资金流向']"
                                            v-html="formatNumber(item[hdItem]['资金流向'])"
                                        ></div>
                                        <div
                                            v-if="item[hdItem]['大单净额']"
                                            v-html="formatNumber(item[hdItem]['大单净额'])"
                                        ></div>
                                        <div
                                            v-html="formatNumber(item[hdItem]['大单净量'])"
                                            v-if="item[hdItem]['大单净量']"
                                        ></div>
                                    </div>
                                </td>
                                <!-- <td style="width: 70px;" class="table_cnText">
                                    <div>{{item['上涨占比']}}</div>
                                </td> -->

                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M05'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v05'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M10'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v10'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M30'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v30'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M60'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['v60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v60'],'shizhi')}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-container>
            <!-- / -->
            <el-container
                v-if="isMobile()"
                class="table_container"
                style="margin-bottom: 10px; display: flex; flex-direction: column; min-height: 352px"
                v-loading="Blocks.loading"
            >
                <span @click="Blocks.setCache('clean')" v-if="Blocks.isCache" style="color: #ac2024; cursor: pointer"
                    >缓存</span
                >
                <div
                    class="table_hy table_hy_Mobile"
                    v-for="(BlocksItem,BlocksKey) in Blocks.Data"
                    v-if="!Blocks.loading"
                >
                    <div
                        v-for="(item,key) in BlocksItem.default"
                        class="table_hy_Mobile_tr"
                        :style="item['昨日涨停数']>0?{'border':'2px solid #ff0000'} : {}"
                    >
                        <div
                            class="table_hy_Mobile_td"
                            @click="CheckedBlock(BlocksKey>0?'概念':'行业',item['指数简称'],item)"
                        >
                            {{item['指数简称']}}
                        </div>
                        <div
                            class="table_hy_Mobile_td"
                            v-for="hdItem in [...Blocks.headerData.slice(2,6),...Blocks.headerData.slice(7,8)]"
                        >
                            <div
                                style="width: 100%; font-size: 10px"
                                v-html="precentformater(item[hdItem]['涨跌幅'])"
                            ></div>
                            <div v-if="item[hdItem]['资金流向']" v-html="formatNumber(item[hdItem]['资金流向'])"></div>
                            <div v-if="item[hdItem]['大单净额']" v-html="formatNumber(item[hdItem]['大单净额'])"></div>
                            <div v-html="formatNumber(item[hdItem]['大单净量'])" v-if="item[hdItem]['大单净量']"></div>
                        </div>
                    </div>
                </div>
            </el-container>
            <!-- 个股指数名称类型 -->
            <div
                style="
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                "
            >
                <div
                    style="min-width: 100px; display: flex; justify-content: center; color: #ac2024; margin-right: 10px"
                >
                    已选择：[ 类型：{{Blocks.checked.type}} , 名称：{{Blocks.checked.name}} ]
                </div>
            </div>
            <!-- 个股筛选条件 -->
            <div style="display: flex; flex-wrap: wrap">
                <el-checkbox
                    v-for="item in Stocks.checkboxList"
                    v-model="item.model"
                    @change="Stocks.CheckedOptimumFN"
                    :label="item.name"
                />
            </div>
            <!-- 个股table -->
            <el-container v-if="!isMobile()" class="table_container" v-loading="Stocks.loading">
                <div class="table_gu" v-for="StocksItem in Stocks.Data" v-if="!Stocks.loading">
                    <table>
                        <thead>
                            <tr>
                                <th :colspan="Stocks.headerData.length">
                                    {{StocksItem.name}} (总数：{{StocksItem.base.length}})
                                    (筛选：{{StocksItem.default.length}})
                                    ({{Number((StocksItem.base.length/3).toFixed(2))}})
                                    <span
                                        @click="Stocks.setCache('clean')"
                                        v-if="Stocks.isCache"
                                        style="color: #ac2024; cursor: pointer"
                                        >缓存</span
                                    >
                                </th>
                            </tr>
                            <tr>
                                <th v-for="item in Stocks.headerData">{{item}}</th>
                            </tr>
                        </thead>
                        <tbody class="scrollable">
                            <tr
                                v-for="(item,key) in StocksItem.default"
                                style="text-align: center"
                                @mouseover="Stocks.handleMouseOver(item)"
                                @mouseleave="Stocks.handleMouseLeave(item)"
                                :style="item['涨停']?{'background-color':'rgb(250 ,255 ,0 ,0.2)'} : {}"
                            >
                                <td style="width: 30px">{{item['序号']}}</td>
                                <td style="min-width: 50px; width: 50px">{{item['code']}}</td>
                                <td
                                    style="min-width: 60px; width: 60px"
                                    class="table_cnText"
                                    @click="Stocks.openUrl('https://gushitong.baidu.com/stock/ab-'+item['code'])"
                                >
                                    {{item['股票简称']}}
                                </td>
                                <td
                                    style="min-width: 70px; width: 70px"
                                    class="text_end"
                                    :style="Number(item['流通市值']) >50000000000?'background-color:#ccc':''"
                                >
                                    {{formatNumber(item['流通市值'],'shizhi')}}
                                </td>
                                <td style="min-width: 50px; width: 50px" class="text_end">
                                    {{formatNumber(item['股价'],'gujia')}}
                                </td>
                                <td
                                    style="min-width: 60px; width: 150px; height: 26px; overflow: hidden"
                                    class="table_cnText"
                                >
                                    <div style="overflow: auto; height: 100%">{{item['行业']}}</div>
                                </td>
                                <td style="min-width: 75px; width: 70px" class="table_cnText red f600">
                                    <span
                                        :style="Stocks.Sort_selected[0]=='昨热度排名'?'border-bottom:2px solid #000':''"
                                        @click="Stocks.mySort('昨热度排名')"
                                        >{{item['昨热度排名']}}</span
                                    >
                                </td>
                                <td style="min-width: 75px; width: 70px" class="table_cnText red f600">
                                    <span
                                        :style="Stocks.Sort_selected[0]=='今热度排名'?'border-bottom:2px solid #000':''"
                                        @click="Stocks.mySort('今热度排名')"
                                        >{{item['今热度排名']}}</span
                                    >
                                </td>
                                <td
                                    style="min-width: 60px; width: 150px; height: 26px; overflow: hidden"
                                    class="table_cnText"
                                >
                                    <div style="overflow: auto; height: 100%">{{item['概念']}}</div>
                                </td>
                                <td class="rateTd f600" v-for="hdItem in Stocks.headerData.slice(9,15)">
                                    <div class="tb3_box" v-if="item[hdItem]">
                                        <div @click="Stocks.mySort(hdItem,'涨跌幅')">
                                            <b
                                                :class="item[hdItem]['涨跌幅趋势']=='j1'?'up-triangle':item[hdItem]['涨跌幅趋势']=='-j1'?'down-triangle':''"
                                            ></b>
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='涨跌幅'?'border-bottom:2px solid #000':''"
                                                v-html="precentformater(item[hdItem]['涨跌幅'])"
                                            ></span>
                                        </div>
                                        <div
                                            v-if="String(item[hdItem]['资金流向'])!='undefined'"
                                            @click="Stocks.mySort(hdItem,'资金流向')"
                                        >
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='资金流向'?'border-bottom:2px solid #000':''"
                                                v-html="formatNumber(item[hdItem]['资金流向'])"
                                            ></span>
                                        </div>
                                        <div
                                            v-if="String(item[hdItem]['大单净额'])!='undefined'"
                                            @click="Stocks.mySort(hdItem,'大单净额')"
                                        >
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='大单净额'?'border-bottom:2px solid #000':''"
                                                v-html="formatNumber(item[hdItem]['大单净额'])"
                                            ></span>
                                        </div>
                                        <div
                                            v-if="String(item[hdItem]['大单净量'])!='undefined'"
                                            @click="Stocks.mySort(hdItem,'大单净量')"
                                        >
                                            <b
                                                :class="item[hdItem]['大单净量趋势']=='j1'?'up-triangle':item[hdItem]['大单净量趋势']=='-j1'?'down-triangle':''"
                                            ></b>
                                            <span
                                                :style="Stocks.Sort_selected[0]==hdItem&&Stocks.Sort_selected[1]=='大单净量'?'border-bottom:2px solid #000':''"
                                                v-html="formatNumber(item[hdItem]['大单净量'])"
                                            ></span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div
                                        style="display: inline-block; padding: 2px; transform: scale(0.7)"
                                        :class="item['M05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M05'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v05达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v05'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['M10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M10'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v10达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v10'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['M30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M30'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v30达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v30'],'shizhi')}}
                                    </div>
                                </td>
                                <td>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['M60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['M60'],'shizhi')}}
                                    </div>
                                    <div
                                        style="display: inline-block; transform: scale(0.7)"
                                        :class="item['v60达成']?'red' :'green' "
                                    >
                                        {{formatNumber(item['v60'],'shizhi')}}
                                    </div>
                                </td>
                                <td style="min-width: 80px" class="table_cnText" v-if="item['后2日']">
                                    <span style="margin-right: 5px" v-html="precentformater(item['后2日'][0])"> </span>

                                    <span style="margin-right: 5px" v-html="precentformater(item['后2日'][1])"> </span>
                                </td>
                                <td style="min-width: 45px" class="table_cnText">{{item['前40日']?'√':''}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-container>
            <el-container v-if="isMobile()" class="table_container" v-loading="Stocks.loading">
                <span @click="Stocks.setCache('clean')" v-if="Stocks.isCache" style="color: #ac2024; cursor: pointer">缓存</span>
                <div class="table_gu" v-for="StocksItem in Stocks.Data" v-if="!Stocks.loading">
                    <div
                        v-for="(item,key) in StocksItem.default"
                        class="table_hy_Mobile_tr"
                        :style="item['涨停']?{'background-color':'rgb(250 ,255 ,0 ,0.2)'} : {}"
                    >
                        <div
                            class="table_hy_Mobile_td"
                            @click="Stocks.openUrl('https://pqa9p2.smartapps.baidu.com/pages/quote/quote?market=ab&jumpToNav=1&type=stock&from=aladdin&code='+item['code'])"
                        >
                            {{item['股票简称']}}
                        </div>
                        <div class="table_hy_Mobile_td fs14 red">{{item['昨热度排名']}}</div>
                        <div class="table_hy_Mobile_td fs14 red">{{item['今热度排名']}}</div>
                        <div
                            class="table_hy_Mobile_td"
                            v-for="hdItem in [...Stocks.headerData.slice(9,13),...Stocks.headerData.slice(14,15)]"
                        >
                            <div
                                style="width: 100%; font-size: 10px"
                                v-html="precentformater(item[hdItem]['涨跌幅'])"
                            ></div>
                            <div v-if="item[hdItem]['资金流向']" v-html="formatNumber(item[hdItem]['资金流向'])"></div>
                            <div v-if="item[hdItem]['大单净额']" v-html="formatNumber(item[hdItem]['大单净额'])"></div>
                            <div v-html="formatNumber(item[hdItem]['大单净量'])" v-if="item[hdItem]['大单净量']"></div>
                        </div>
                    </div>
                </div>
            </el-container>
        </div>

        <!-- 引入 Vue 和 Vant 的 JS 文件 -->
        <script src="./js/vue@3.4.14.js"></script>
        <script src="./js/axios@1.6.7.js"></script>
        <script src="./js/vant@4.js"></script>
        <!-- 引入element plus中文语言包 -->
        <script src="./js/elementplus@v2.7.7-zhCn.js"></script>
        <script src="./js/elementplus@v2.7.7.js"></script>
        <script src="./js/localForage.js"></script>
        <script src="./js/day.js"></script>
        <script src="./js/utils.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>
